/* Place CSS styles here */
main{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

label {
    display:block;
    margin-bottom: 4px;
}



input{
    border-radius: 16px;
    margin-bottom: 16px;
}
.logo {
    width: 50px;
}
