/* Place CSS styles here */
img {
    width: 100%;

}

header {
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 20px;
padding-right: 20px;
}

@media (max-width: 999px) {
    .main-nav {
      display: none;
    }
  }
  
  .mobile-main-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    position: absolute;
    top: 132px;
    left: 0;
    right: 0;
  }
  
  .mobile-main-nav a {
    padding: 8px;
  }
  
  @media (min-width: 1000px) {
    .mobile-nav-wrapper {
      display: none;
    }
  }

main{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

label {
    display:block;
    margin-bottom: 4px;
}



input{
    border-radius: 16px;
    margin-bottom: 16px;
}
.logo {
    max-width: 50px;
}
